.editor-panel {
    flex: 6;
    height: 100%;
}

.monaco-editor {
    height: 100%;
}

/* Keyboard shortcut styling */
.kbd {
    display: inline-block;
    padding: 2px 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: monospace;
    font-size: 11px;
    margin: 0 2px;
}